#header-row {
    background-image: url("https://media.giphy.com/channel_assets/star-wars/L0TVPU6cLCIB.gif");
    width: 100%;
    height: 160px;
    margin: 0px auto;
    color: white;
    text-shadow: 2px 2px black;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    width: 1070px;
}

body {
    background-color: black;
}

#headerTxt-row {
    text-align: center;
    color: white;
    height: 160px;
    size: 40px;
}


#charSelect {
    height: 160px;
}